
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #1c3f6a !important;
}
.jumbotron-header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/heroimage.jpg");
    background-size: cover;
    height: 100vh;
    border-radius: 0px !important;
}
.navDizajn{
    background-color: rgb(30, 30, 70);
    border-bottom: 2px solid #999;
}
.naslov{
    font-size: 80pt;
    font-weight: bold;
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}
.podnaslov{
    font-size: 18pt;
    color: white;
    margin-bottom: 20px;
    font-weight: 200;
}
.podnaslov-mali{
    font-size: 14pt;
    color: white;
    margin-bottom: 50px;
    font-weight: 200;
}
.podnaslov1{
    font-size: 40pt;
    color: white;
    padding-top: 5rem;
    margin-bottom: 50px;
    font-weight: 300;
}
.podnaslov12{
    font-size: 40pt;
    color: white;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-weight: 300;
}
.galerijaslika{
    margin-bottom: 3rem;
}
.galerijaslika img{
    height: 300px;
}
.btn{
    border-radius: 0px !important;
    border: 2px solid white !important;
    margin-top: 10px;
    font-size: 20pt !important;
}
.btn:hover{
    border: 2px solid darkblue !important;
    color: darkblue !important;
    background: white !important;
}
.gallery-item{
    max-width: 100%;
    height: 150px;
}
.klik{
    color: white;
    text-decoration: none;
}
.klik:hover{
    text-decoration: none;
}
.klik p{
    margin-top: 20px;
    font-size: 16pt;
    font-weight: 200;
    color: white;
}
.klik img:hover{
    transition: ease-in-out 0.5s;
}

.card{
    border: 0px !important;
    height: 70vh;
}
.card-body{
    background-color: rgb(30, 30, 70);
}
.linija{
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px ;
}
.linija2{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px ;
}
.card-text{
    color: white;
    font-size: 16pt;
    font-weight: 200;
    margin-bottom: 50px;
}
.okvir{
    border: 4px solid white;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: rgb(0, 0, 0, 0.5);
}
.okvir-mali{
    border: 4px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60px);
    background: rgb(0, 0, 0, 0.5);
}
.onama{
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.okvir-1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pozicija-iframe iframe{
    background-size: cover;
}
.mapa{
    padding-top: 20px;
}
.mapa iframe{
    width: 100%;
    height: 355px;
    border: 0;
    margin-bottom: 10px;
}

.istrazi .container{
    margin-bottom: 5rem;
}
.kontakt img{
    filter: brightness(50%);
    transition: 0.5s ease-in-out;
    width: 80px;
}
.kontakt img:hover{
    filter: brightness(100%);
    transform: translateY(-20px) scale(1.2);
}
.mali-tekst{
    color: white;
    opacity: 0;
    font-size: 10pt;
    font-weight: 200;
    transform: translateY(-30px);
    transition: 0.5s ease-in-out;
}
.kontakt .col-sm-3:hover .mali-tekst{
    opacity: 1;
    transform: translateY(5px);
}
.yradius{
    border-radius: 20px;
}

@media only screen and (max-width: 500px) {
    .naslov {
        font-size: 70pt;
        font-weight: bold;
        color: white;
        margin-top: 100px;
        margin-bottom: 20px;
        text-align: center;
    }
    .podnaslov{
        font-size: 20pt;
        color: white;
        margin-bottom: 20px;
        font-weight: 200;
        text-align: center;
    }
    .podnaslov1{
        font-size: 50pt;
        color: white;
        text-align: center !important;
        margin-bottom: 50px;
        font-weight: 300;
    }
    .podnaslov-mali{
        font-size: 16pt;
        color: white;
        text-align: center !important;
        margin-bottom: 20px;
        font-weight: 200;
    }
    .mobdugme{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 30pt !important;
        bottom: 20px;
    }
    .jumbotron-header{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/heroimage-mob.jpg");
        background-size: cover;
    }
  }
